In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Susan
What is your age? 22
Your name is Susan. Your age is 22

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print("a and b are eqaul")
else:
  print("a and b are not equal")

a and b are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
 print("a is greater than b")
elif(a==b):
 print("a and b are equal")
else:
 print("a is less than b")

a is less than b

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
 print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range (5,0,-1):
  print(k)

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range (10, -2, -2):
  if k!=8:
    print(k)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
print("Measurement for Age")
x=int(input("Please enter your birth year :\n"))
def calc(x=x, y=2022):
  return y-x
print(calc())

Measurement for Age
Please enter your birth year :
1999
23

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arit:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y
print(arit.addition(4,9))
print(arit.substraction(8,6))
print(arit.multiplication(3,2))
print(arit.division(7,8))

13
2
6
0.875

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = int(input(" Enter Number"))
sum = 0
for num in range(1, n +1, 1):
   sum= sum+num
print("Sum of first", n, "numbers is: ", sum)

 Enter Number5
Sum of first 5 numbers is:  15

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random
randomlist = []
for i in range (10) :
 n= random.uniform( 0,1 )
 randomlist.append(n)
print(randomlist [ 0:3])

[0.5340208141305112, 0.25689303583501133, 0.1670136143382942]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range (1, n+1,1):
  if (i % 3==0):
    print( i )

3
6
9
12
15